
<a class="social-link facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" id="fb-share" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square"></i></a>
		
<a class="social-link twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}
&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" id="tweet" rel="nofollow" target="_blank" title="Tweet this Page"><i class="fa fa-twitter"></i></a>
		
<a class="social-link linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ page.title }}&summary={{ page.description}}&source={{ site.url }}" id="linkedin" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
		
<a class="social-link email" href="mailto:?subject={{ page.title }}&body=Hi,I found this link here {{ site.url }}{{ page.url }}" id="email-share" title="Email to a Friend"><i class="fa fa-envelope"></i> </a>

