<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/typed.js/1.1.1/typed.min.js"></script>
<script>
    $(function(){
        $(".element").typed({
            strings: ["Hi! I'm Harpreet", "I  love to develop software", "In my free time, I like learning new programming languages", "This is my personal blog, where I will be talking mostly about tech", "I hope you like it!"],
            typeSpeed: 0,
            loop: true,
            backDelay: 1000,
            contentType: 'text'
        });
    });
</script>